{% extends 'sample.html' %}

{% block content %}
<div class="jumbotron">
    <h2><strong>Kaspersky Safe Kids</strong></h2><br>
    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <h4 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        О функционале продукта Kaspersky Safe Kids
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block">
                    {% for Text in TextAll %}
                    <p2>{{Text.ksk|linebreaksbr}}</p2>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <h4 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Установка и удаление программы
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-block">
                    {% for Text in TextAll %}
                    <p2>{{Text.ksk_inst_unist|linebreaksbr}}</p2>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingThree">
                <h4 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Интерфейс Kaspersky Safe Kids
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-block">
                    <div class="png">
                        <img src="/static/image/kidsafe.png"><br><br>
                    </div>
                    {% for Text in TextAll %}
                    <p2>{{Text.ksk_face|linebreaksbr}}</p2>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingFour">
                <h4 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Лицензирование Kaspersky Safe Kids
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="card-block">
                    {% for Text in TextAll %}
                    <p2>{{Text.ksk_license|linebreaksbr}}</p2>
                    {% endfor %}
                    <div class="png">
                        <img src="/static/image/lic_ksk.png"><br><br>
                    </div>                    
                    {% for Text in TextAll %}
                    <p2>{{Text.ksk_license2|linebreaksbr}}</p2>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingFive">
                <h4 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Настройка Kaspersky Safe Kids
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="card-block">
                    {% for Text in TextAll %}
                    <p2>{{Text.ksk_setting|linebreaksbr}}</p2>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="container">
        <div class="duo1">
            <a class="btn btn-secondary" href="{% url 'kpm' %}" role="button">Назад</a>
        </div>
        <div class="duo2">
            <a class="btn btn-secondary" href="{% url 'ksec' %}" role="button">Следующая статья</a>
        </div>
    </div>
    {% endblock %}