{% extends 'sample.html' %}

{% block content %}
<div class="jumbotron" style="text-align: center">
    <div class="container" style="text-align: center">
        <div class="btn-group" role="group">
            <h3>Выберите тест для прохождения:</h3>
            <br />
            <a class="btn btn-secondary" role="button" a href="/tests1/">Тест 1. Антивирусные продукты</a>
            <a class="btn btn-secondary" role="button" a href="/tests2/">Тест 2. Kaspersky Password Manager </a>
            <a class="btn btn-secondary" role="button" a href="/tests3/">Тест 3. Kaspersky Safe Kids</a>
            <a class="btn btn-secondary" role="button" a href="/tests4/">Тест 4. Kaspersky Secure Connection</a>
            <a class="btn btn-secondary" role="button" a href="/tests5/">Тест 5. My Kaspersky</a>
        </div>
    </div>
    <div class="dec">
    <img src="/static/image/orig1.png">
    </div>
</div>
    {% endblock %}
