{% extends 'sample.html' %}

{% block content %}
<div class="jumbotron" style="text-align: center">
    <div class="container" style="text-align: center">
            <h4><em>В данном тесте 20 вопросов, максимально возможный результат — 20 баллов, за один вопрос 1 балл. Необходимо набрать минимум 18 баллов для его успешного прохождения.</em></h4>
            <br />
            <a class="btn btn-secondary" style="text-align: center" role="button" href="/test/1/">Начать...</a>
    </div>
</div>
    {% endblock %}
